{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy example_form example_form.helper %}
{% load i18n %}

{% block content %}
    <div>
        <canvas id="myChart" style="width: 100vh; height: 30vh"></canvas>
        {{ trends_list|json_script:"trends-data" }}
    </div>

    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Hashtag</th>
            <th scope="col">URL</th>
            <th scope="col">
                <button type="button" class="btn btn-secondary btn-lg btn-block"
                        onclick="downloadTrendsData({{ trends }}, '{{ trends_count }}')">Download CSV
                </button>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for trend in trends_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ trend.name }}</td>
                <td><a href="{{ trend.url }}">{{ trend.url|truncatechars_html:90 }}</a></td>
                <td> <!--non mi eliminare--> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block extra-scripts %}
    <script src="{% static "js/trends.js" %}"></script>
{% endblock %}
